!!! XML
!!!
%html
  %head
    %title Filtering Result
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/bootstrap/css/bootstrap.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "http://g86.dbcls.jp/~iNut/font-awesome/css/font-awesome.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "/soy_style.css", :type => "text/css"}
  
  %body
    .container
      %script{ :src => "http://code.jquery.com/jquery-1.8.2.min.js" }
      %script{ :src => "http://g86.dbcls.jp/~iNut/bootstrap/js/bootstrap.js" }
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand
              DBCLS SRA metadata search (beta)
            .nav-collapse
              %ul.nav
                %li
                  %a{:href => "/soylatte"} Home
                %li
                  %a{:href => "http://g86.dbcls.jp/chateautogo" } Blog
                %li
                  %a{:href => "http://github.com/inutano/sra_metadata_toolkit", "data-toggle" => "tooltip", "title" => "github repo"}
                    %i.icon-github
                %li
                  %a{:href => "http://twitter.com/inutano", "data-toggle" => "tooltip", "title" => "Twitter" }
                    %i.icon-twitter
                :javascript
                  $("a").tooltip({
                    'selector': '',
                    'placement': 'bottom'
                  });

      .page-header
        %h1
          DBCLS SRA Metadata Search
          %small
            project: Soylatte
    
      %section
        .row
          - post_option = "species=#{@species}&type=#{@type}&instrument=#{@instrument}"
          .span7
            %p.lead Requested filtering condition
            %hr
            %p= [@species, @type, @instrument].delete_if{|n| n.empty? }.join(", ")
            %p.count= "#{@result[:mix][0]}/#{@total_number}, #{@result[:mix][1]}%"
            .progress
              .bar{ :style => "width: #{@result[:mix][1]}%;" }
            %span.view-all
              %form.search{ :name => "view-all", :action => "/search?#{post_option}&search_query=", :method => "POST" }
                %button.btn{ :type => "submit" }
                  view all
          .span5.filtersearch
            %p.lead Fulltext search
            %form.search{ :name => "search", :action => "/search?#{post_option}", :method => "POST" }
              %label Search with this condition
              %input.input-large.search-query{ :type => "text", :name => "search_query" }
              %button.btn{ :type => "submit" }
                search
        %hr
        %p.lead For each condition:
        .row
          .span4
            %p.lead Sample Organism
            %hr
            %p= @species.empty? ? "All" : @species
            %p.count= "#{@result[:species][0]}/#{@total_number}, #{@result[:species][1]}%"
            .progress
              .bar{ :style => "width: #{@result[:species][1]}%;" }
          .span4
            %p.lead Study Type
            %hr
            %p= @type.empty? ? "All" : @type
            %p.count= "#{@result[:type][0]}/#{@total_number}, #{@result[:type][1]}%"
            .progress
              .bar{ :style => "width: #{@result[:type][1]}%;" }
          .span4
            %p.lead Sequencing Platform
            %hr
            %p= @instrument.empty? ? "All" : @instrument
            %p.count= "#{@result[:instrument][0]}/#{@total_number}, #{@result[:instrument][1]}%"
            .progress
              .bar{ :style => "width: #{@result[:instrument][1]}%;" }
        
      %footer
        powered by
        %a{ :href => "http://dbcls.rois.ac.jp/en" }
          DBCLS
        , project licensed under CC-BY 2.1 JP. /
        Font Awesome by Dave Gandy - 
        %a{ :href => "http://fortawesome.github.com/Font-Awesome" }
          http://fortawesome.github.com/Font-Awesome
