!!!
%html
	%head
		%title kusarinoko - result
		%meta{ :charset => "utf-8" }
		%link{ :rel => :stylesheet, :href => "stylesheet.css", :type => "text/css" }
		
	%body
		.hako
			- total_result = @risultati.length - 1
			- @risultati.each do |nakami|
				%table
					%tr
						.submission_id
							- sub_id = nakami[0][0]
							%h1
								%a{ :href => "http://www.ncbi.nlm.nih.gov/sra/?term=#{sub_id}", :target => "_blank" }= sub_id
						- pmid = nakami[5]
						- article_title = nakami[6]
						- date = nakami[8]
						- journal = nakami[7]
						- article_abstract = nakami[9]
						- author = nakami[10]
						.article_title
							%h2
								%a{ :href => "http://www.ncbi.nlm.nih.gov/pubmed/#{pmid}", :target => "_blank" }= article_title
							%h3{ :align => "right" }= date + " / " + journal
						.article_abstract
							%p= article_abstract
							%p= author 
					
					%tr
						
						.result_study{ :align => "right" }
							%h2
								%strong Study
						.study_id
							%h3= "study id: " + nakami[1][0]
						%li
							%strong= "study abstract: "
							#{nakami[1][1]}
						%li
							%strong= "study description: "
							#{nakami[1][2]}
	
					%tr
						.result_exps{ :align => "right" }
							- expnum = nakami[2].length
							%h2
								%strong Experiments
							%span{ :class => "expnum" } total #{expnum}
						
						- exp_total = nakami[2].length - 1
						- nakami[2].each do |exp|
							.experiment_id
								.exp_id
									- exp_id = exp[0]
									%h3= "experiment id: " + exp_id
								.data_download
									- dra = "ftp://ftp.ddbj.nig.ac.jp/ddbj_database/dra/sralite/ByExp/litesra"
									- des = exp_id.slice(0,3)
									- expid_head = exp_id.slice(0,6)
									%a{ :href => "#{dra}/#{des}/#{expid_head}/#{exp_id}" } ftp download
							%li
								%strong= "experiment design: "
								#{exp[1]}
							%li
								%strong= "experiment library constraction: "
								#{exp[2]}
							%li
								%strong= "sample: "
								#{exp[3]}
							- unless nakami[2][exp_total][0] == exp[0] 
								%hr
					
					
					%tr
						.result_samples{ :align => "right" }
							- samplenum = nakami[3].length
							%h2
								%strong Samples
							.sample_num
								total #{samplenum}
					- sample_total = nakami[3].length - 1
					- nakami[3].each do |sample|
						.sample_id
							%h3= "sampled id: " + sample[0]
						%li
							%strong= "sample description: "
							#{sample[1]}
						- attr = sample[2][1]
						- if attr
							%li
								%strong= "#{sample[2][0]}: "
								#{sample[2][1]}
						- unless nakami[3][sample_total][0] == sample[0]
							%hr
					- unless @risultati[total_result][0][0] == nakami[0][0]
						.section_end
							%hr
							%hr
					
					
		.caption
			.search_query{ :align => "right" }
				search query: #{@query}
			.result_number{ :align => "right" }	
				- resultnum = @risultati.length
				total result: #{resultnum}
			%h2 got what you want?
			.return
				%a{ :href => "/kusarinoko" } one more time

