!!! XML
!!!
%html
  %head
    %title Sequence Read  Detail: #{@report[:read_id]}
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
    %link{:rel => :stylesheet, :href => "/css/bootstrap.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "/css/font-awesome.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "/style.css", :type => "text/css"}
    %script{ :src => "http://code.jquery.com/jquery-1.8.2.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
  
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand
              DBCLS SRA metadata search (beta)
            .nav-collapse
              %ul.nav
                %li
                  %a{:href => "/soylatte"} Home
                %li
                  %a{:href => "http://g86.dbcls.jp/chateautogo" } Blog
                %li
                  %a{:href => "http://github.com/inutano/sra_metadata_toolkit", "data-toggle" => "tooltip", "title" => "github repo"}
                    %i.icon-github
                %li
                  %a{:href => "http://twitter.com/inutano", "data-toggle" => "tooltip", "title" => "Twitter" }
                    %i.icon-twitter
                :javascript
                  $("a").tooltip({
                    'selector': '',
                    'placement': 'bottom'
                  });
    
      %section
        %h2
          %i.icon-reorder.icon-large
          Sequence Read Detail
        %hr
      
        %p.lead= @report[:read_id]
        %table.table.table-hover
          %thead
            %tr
              %th Filetype
              %th Encoding
              %th Total Number of Sequences
              %th Sequence Length
              %th %GC
          %tbody
            %tr
              %td= @report[:file_type]
              %td= @report[:encoding]
              %td= @report[:total_sequences]
              %td= @report[:sequence_length]
              %td= @report[:percent_gc]
       
      %section
        %h2
          %i.icon-stethoscope.icon-large
          Sequence Quality Statistics
        %hr
        - base = "/fastqc/img/#{@report[:read_id]}/"
        .row
          %ul.thumbnails
            %li.span3
              .thumbnail
                %a{ :href => "#pbq", "data-toggle" => "modal" }
                  %img{ :src => base + "per_base_quality" }
                  %h4 Per base sequence quality
                .modal.hide.fade#pbq{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Per base sequence quality
                  .modal-body
                    %img{ :src => base + "per_base_quality" }

            %li.span3
              .thumbnail
                %a{ :href => "#psq", "data-toggle" => "modal" }
                  %img{ :src => base + "per_sequence_quality" }
                  %h4 Per sequence quality scores
                .modal.hide.fade#psq{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Per sequence quality scores
                  .modal-body
                    %img{ :src => base + "per_sequence_quality" }
                  
                  
            %li.span3
              .thumbnail
                %a{ :href => "#pbsc", "data-toggle" => "modal" }
                  %img{ :src => base + "per_base_sequence_content" }
                  %h4 Per base sequence content
                .modal.hide.fade#pbsc{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Per base sequence content
                  .modal-body
                    %img{ :src => base + "per_base_sequence_content" }

            %li.span3
              .thumbnail
                %a{ :href => "#psgc", "data-toggle" => "modal" }
                  %img{ :src => base + "per_sequence_gc_content" }
                  %h4 Per sequence GC content
                .modal.hide.fade#psgc{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Per sequence GC conetnt
                  .modal-body
                    %img{ :src => base + "per_sequence_gc_content" }

        .row
          %ul.thumbnails
            %li.span3
              .thumbnail
                %a{ :href => "#pbnc", "data-toggle" => "modal" }
                  %img{ :src => base + "per_base_n_content" }
                  %h4 Per base N content
                .modal.hide.fade#pbnc{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Per base N content
                  .modal-body
                    %img{ :src => base + "per_base_n_content" }
  
            %li.span3
              .thumbnail
                %a{ :href => "#sld", "data-toggle" => "modal" }
                  %img{ :src => base + "sequence_length_distribution" }
                  %h4 Sequence Length Distribution
                .modal.hide.fade#sld{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Sequence Length Distribution
                  .modal-body
                    %img{ :src => base + "sequence_length_distribution" }
  
            %li.span3
              .thumbnail
                %a{ :href => "#dl", "data-toggle" => "modal" }
                  %img{ :src => base + "duplication_levels" }
                  %h4 Sequence Duplication Levels
                .modal.hide.fade#dl{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Sequence Duplication Levels
                  .modal-body
                    %img{ :src => base + "duplication_levels" }
  
            %li.span3
              .thumbnail
                %a{ :href => "#kp", "data-toggle" => "modal" }
                  %img{ :src => base + "kmer_profiles" }
                  %h4 Kmer Profiles
                .modal.hide.fade#kp{ "tabindex" => "-1", "role" => "dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true" }
                  .modal-header
                    %button.close{ :type => "button", "data-dismiss" => "modal", "aria-hidden" => "true" }
                      %i.icon-remove
                    %h4.myModalLabel Kmer Profiles
                  .modal-body
                    %img{ :src => base + "kmer_profiles" }
        
        - if !@report[:kmer_content].empty?
          .row
            .span9
              %h4 Kmer Content
              %table.table.table-hover
                %thead
                  %tr
                    %th Sequence
                    %th Count
                    %th Obs/Exp Overall
                    %th Obs/Exp Max
                    %th Max Obs/Exp Position
                %tbody
                  - @report[:kmer_content].each do |row|
                    %tr
                      %td= row[0]
                      %td= row[1]
                      %td= row[2]
                      %td= row[3]
                      %td= row[4]
                
        - if !@report[:overrepresented_sequences].empty?
          .row
            .span9
              %p Overrepresented Sequences
              %table.table.table-hover
                %thead
                  %tr
                    %th Sequence
                    %th Count
                    %th Percentage
                    %th Possible Source
                %tbody
                  - @report[:overrepresented_sequences].each do |row|
                    %tr
                      %td= row[0]
                      %td= row[1]
                      %td= row[2]
                      %td= row[3]
          
      %section
        %h2 
          %i.icon-share.icon-large
          Linkout/Resources
        %hr
  
        %ul
          - runid = @report[:read_id].slice(0..8)
          %li
            %a{ :href => "http://trace.ddbj.nig.ac.jp/DRASearch/run?acc=" + runid }
              DRASearch - DDBJ/DRA
          %li
            %a{ :href => "http://www.ebi.ac.uk/ena/data/view/" + runid }
              ENA Browser - EBI/ENA
    
      %footer
        powered by
        %a{ :href => "http://dbcls.rois.ac.jp/en" }
          DBCLS
        , project licensed under CC-BY 2.1 JP. /
        Font Awesome by Dave Gandy - 
        %a{ :href => "http://fortawesome.github.com/Font-Awesome" }
          http://fortawesome.github.com/Font-Awesome
