!!!
!!! 5
%html
  %head
    %title Search Result
    %meta{:charset => "utf-8"}
    %link{:rel => :stylesheet, :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :type => "text/css"}
    %link{:rel => :stylesheet, :href => "#{app_root}/css/sra15.css", :type => "text/css"}
    %script{ :src => "https://code.jquery.com/jquery-1.11.2.min.js" }
    %script{ :src => "#{app_root}/js/bootstrap.min.js" }
    %script{ :src => "#{app_root}/js/jquery.tablesorter.min.js" }
    %script{ :src => "#{app_root}/js/jquery.tablesorter.widgets.min.js" }

  %body
    #container
      -#header section
      #header.sub
        .content
          .box.box1
            %img{:src => "#{app_root}/images/DBCLS_SRA_logo.png", :height => "115"}
          .box.box2
            %h1
              DBCLS
              %span.or SRA
          .box.box3
            %ul
              %li
                %a{:href => "http://github.com/inutano/sra_metadata_toolkit"}
                  %i.fa.fa-github-square
              %li
                %a{:href => "http://twitter.com/inutano"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "http://trattoriainutano.tumblr.co"} blog
              %li
                %a{:href => "#{app_root}"} Home

      -#main section
      #main.result
        .content
          %h2 DBCLS SRA Metadata Search
          - show_query = @query.empty? ? "undefined" : @query
          %h3= "Search query: " + show_query
          .row
            .info
              - result_size = @result.size
              - project_s = @result.size == 1 ? "project" : "projects"
              .expnumber= resutl_size.to_s + project_s

          -#Table
          .list
            %table#exp.experiment.tablesorter
              - study_type_ref = { 1 => "Genome",
                                   2 => "Transcriptome",
                                   3 => "Epigenome",
                                   4 => "Metagenome",
                                   5 => "Cancer Genomics",
                                   0 => "Other" }
              %thead
                %tr
                  %th Study ID
                  %th Study Title
                  %th Study Type
                  %th Sequencing Instrument
                  %th Scientific Name
                  %th Number of Sequencing
                  %th PubMed ID
              %tbody
              - @result.each do |record|
                - study_id = record["_key"]
                - if !record.pubmed_id.empty?
                  %tr{ :class => "info" }
                    %td
                      %a{ :href => "#{app_root}/view/#{study_id}"}= study_id
                    - title = record.study_title
                    %td= title ? title.gsub("_","\s") : title
                    %td= record.study_type
                    %td= record.run.map{|r| r.instrument }.uniq.join(", ")
                    %td= record.run.map{|r| r.sample.map{|s| s ? s.scientific_name : s } }.flatten.uniq.compact.join(", ")
                    %td= record.run.size.to_s
                    %td
                      - record.pubmed_id.map do |pmid|
                        %a{ :href => "http://www.ncbi.nlm.nih.gov/pubmed/#{pmid}" }= pmid
                - else
                  %tr
                    %td
                      %a{ :href => "#{app_root}/view/#{study_id}"}= study_id
                    - title = record.study_title
                    %td= title ? title.gsub("_","\s") : title
                    %td= record.study_type
                    %td= record.run.map{|r| r.instrument }.uniq.join(", ")
                    %td= record.run.map{|r| r.sample.map{|s| s ? s.scientific_name : s } }.flatten.uniq.compact.join(", ")
                    %td= record.run.size.to_s
                    %td no publication

      -# Scroll Back button
      #page-top
        %p#move-page-top
          %i.fa.fa-angle-double-up

      -#footer section
      #footer
        .content
          %a{:rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/"}
            %img{:alt => "Creative Commons License", :style => "border-width:0", :src => "https://i.creativecommons.org/l/by/3.0/80x15.png"}
          %span{:xmlns:dct => "http://purl.org/dc/terms/", :property => "dct:title"}
            DBCLS SRA
          is licensed under a
          %a{:rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/"}
            Creative Commons Attribution 3.0 Unported License

    :javascript
      $(document).ready(function (){
        $("#exp").tablesorter({
            theme: 'default',
            cssChildRow:"tablesorter-childRow",
            widgets:["zebra","filter", "pager"],

            widgetOptions: {
                pager_output: '{startRow} - {endRow} / {filteredRows} ({totalRows})', // '{page}/{totalPages}'
                pager_removeRows: false,
                filter_childRows  : true,
                filter_cssFilter  : 'tablesorter-filter',
                filter_startsWith : false,
                filter_ignoreCase : true
              }
        });

        $(window).scroll(function () {
            var v = $(window).scrollTop();
            var u = $('body').height() - (v + $(window).height());
            if (v > 1500 && 200 > u) {
                $("#page-top").fadeIn("fast");
            } else {
                $("#page-top").fadeOut("fast");
            }
        });
        $("#move-page-top").click(function () {
            $('html,body').animate({scrollTop: 0}, 'fast');
        });
      });
